<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <form class="form-horizontal" role="form" method="post" action="/mc">
            <fieldset>
                <!-- Address form -->

                <h4>Address</h4>

                <!-- full-name input-->
                <div class="control-group">
                    <label class="control-label">Full Name</label>
                    <div class="controls">
                        <input id="full-name" name="fullname" type="text" placeholder="full name"
                               class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- email-->
                <div class="control-group">
                    <label class="control-label">email</label>
                    <div class="controls">
                        <input id="full-name" name="email" type="text" placeholder="enter your email"
                               class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">mobile number</label>
                    <div class="controls">
                        <input  name="tel" type="text" placeholder="please enter your mobile number"
                                class="input-xlarge">

                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">date of birthr</label>
                    <div class="controls">
                        <input  name="dob" type="text" placeholder="please enter your date of birth"
                                class="input-xlarge">

                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">age</label>
                    <div class="controls">
                        <input  name="age" type="text" placeholder="please enter your age"
                                class="input-xlarge">

                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- address-line1 input-->
                <div class="control-group">
                    <label class="control-label">Address Line 1</label>
                    <div class="controls">
                        <input id="address-line1" name="addressline1" type="text" placeholder="address line 1"
                               class="input-xlarge">
                        <p class="help-block">Street address, P.O. box, company name, c/o</p>
                    </div>
                </div>
                <!-- address-line2 input-->
                <div class="control-group">
                    <label class="control-label">Address Line 2</label>
                    <div class="controls">
                        <input id="address-line2" name="addressline2" type="text" placeholder="address line 2"
                               class="input-xlarge">
                        <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
                    </div>
                </div>
                <!-- city input-->
                <div class="control-group">
                    <label class="control-label">City / Town</label>
                    <div class="controls">
                        <input id="city" name="city" type="text" placeholder="city" class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- region input-->
                <div class="control-group">
                    <label class="control-label">State / Province / Region</label>
                    <div class="controls">
                        <input id="region" name="region" type="text" placeholder="state / province / region"
                               class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- postal-code input-->
                <div class="control-group">
                    <label class="control-label">Zip / Postal Code</label>
                    <div class="controls">
                        <input id="postal-code" name="postalcode" type="text" placeholder="zip or postal code"
                               class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- objective-->
                <h4>OBJECTIVE</h4>
                <div class="control-group">
                    <label class="control-label">OBJECTIVE</label>
                    <div class="controls">
                        <input  name="objective" type="text" placeholder="enter your objective"
                               class="input-xlarge" >
                        <p class="help-block"></p>
                    </div>
                </div>
               <!--education-->
                <h4>EDUCATION</h4>
                <div class="control-group">
                    <label class="control-label">HIGH SCHOOL</label>
                    <div class="controls">
                        <input  name="highschool" type="text" placeholder="enter your highschool"
                                class="input-xlarge" >
                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">INTERMEDIATE</label>
                    <div class="controls">
                        <input  name="intermediate" type="text" placeholder="enter your intermediate"
                                class="input-xlarge" >
                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">GRADUATION</label>
                    <div class="controls">
                        <input  name="graduation" type="text" placeholder="enter your graduation"
                                class="input-xlarge" >
                        <p class="help-block"></p>
                    </div>
                </div>

                <!--intersts-->

                <div class="control-group">
                    <label class="control-label">interests</label>
                    <div class="controls">
                        <input  name="intersts" type="text" placeholder="please enter your interests"
                                class="input-xlarge">

                        <p class="help-block"></p>
                    </div>
                </div>
                <!--work experience-->


                <h4>WORK-EXPRIENCE</h4>
                <div class="control-group">
                    <label class="control-label">WORK-EXPERIENCE</label>
                    <div class="controls">
                        <input  name="workexperience" type="text" placeholder="enter your work-experience"
                                class="input-xlarge" >


                        <p class="help-block"></p>
                    </div>
                </div>

                <!--special skill-->
                <h4>SKILLS</h4>

                <div class="control-group">
                    <label class="control-label">skill1</label>
                    <div class="controls">
                        <input  name="skill1" type="text" placeholder="enter your skill1"
                                class="input-xlarge" >


                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">skill2</label>
                    <div class="controls">
                        <input  name="skill2" type="text" placeholder="enter your skill2"
                                class="input-xlarge" >


                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">skill3</label>
                    <div class="controls">
                        <input  name="skill3" type="text" placeholder="enter your skill3"
                                class="input-xlarge" >
                    </div>
                </div>



                      <!--Rrfrences-->
                        <h4>REFRENCES</h4>

                        <div class="control-group">
                            <label class="control-label">refrences</label>
                            <div class="controls">
                                <input  name="refrences" type="text" placeholder="please enter refernces"
                                        class="input-xlarge">

                        <p class="help-block"></p>
                    </div>
                </div>


                <button type="submit" class="btn btn-sm btn-primary btn-block" role="button">
                    SUBMIT
                </button>

            </fieldset>
        </form>
    </div>
</div>