@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);
@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
    font-family: "Ubuntu", sans-serif;
    background-color:white;
}
.container {
    padding-top: 50px;
}
article {
    margin-bottom: 30px;
}
.img-responsive {
    width: 150px;
    height: 150px;
}
figcaption {
    margin-top: 20px;
}

figcaption > h3 {
    font-weight: bolder;
    font-size: xx-large;
}
dt, dd {
    margin-bottom: 5px;
}